body{
    margin: 0%;
    background-color:gray;
}
.header{
    background-color:black;
    text-align: center;
    padding:20px ;
    width:100% ;
}
span{
    padding: 40px;
    text-align: center;
}
 a{
     color: yellow;
     text-decoration: none;
     font-family: 'Courier New', Courier, monospace;
 }
.elerhetoseg{
    padding:20px ;
}
#kepek{
    width: 500px;
    float: right ;
}
.adam{
    text-align: left;
}
.kevin{
    margin:  auto calc(2048px - 1200px);
}
.gergo{
    margin: auto calc(2048px - 400px);
}
.elerhetoseg h1{
    text-align: center;
    padding: 20px;
    color: gold;
}
.elerhetoseg p{
    color: yellow;
}
.tesla img{
    width: 759px;
    float: left;
}