body{
    margin: 0%;
}
.header{
    background-color:gray;
    text-align: center;
    padding:20px ;
    width:100% ;


}
span{
    padding: 40px;
    text-align: center;
    text-decoration: none;
}