body{
    margin: 0%;
    background-color:lightslategray;
    background-image: url(új_háttér.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.header{
    background-color:black;
    text-align: center;
    padding:20px ;
    width:100% ;
}
span{
    padding: 40px;
    text-align: center;
}
 a{
     color: yellow;
     text-decoration: none;
     font-family: 'Courier New', Courier, monospace;
 }
.elerhetoseg{
    padding:20px ;
}
#kepek{
    width: 500px;
    float: right ;
}
.adam{
    text-align: left;
}
.kevin{
    margin:20px calc(2048px - 500);
}
    
.gergo{
   text-align: left;
}
.elerhetoseg h1{
    text-align: center;
    padding: 20px;
    color: gold;
}
.elerhetoseg p{
    color: yellow;
}
.tesla{  
    width:956px;
    text-align: center;
    margin: 10px calc(2048px - 1590px);
    padding-bottom: 15px;
    border: 2px solid black;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
    border-radius: 20px;
    background-color: white;
}
.tesla img{
    width: 956px;
}
.ajanlatok{
    width:956px;
    text-align: center;
    margin: 10px calc(2048px - 1590px);
    padding-bottom: 15px;
    border: 2px solid black;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    font-style: italic;
    border-radius: 20px;
    background-color: white;
}
.ajanlatok img{
    width: 956px;
}
.container h1{
    color: black;
    text-align: center;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
    padding: 30px auto;
    font-family: 'Times New Roman', Times, serif;
}
.container h2{
    color: black;
    text-shadow: 1px 1px 0px white;
    text-align: left;
    font-size: 30px;
    font-variant: small-caps;
    font-weight: bold;
    
}
.container p{
    color: black;
    text-shadow: 2px 2px 0px white;
    text-align: left;
    padding: 10px 5px;
    font-weight: bold;
    font-size: large;
    font-size: 30px;
    line-height: 150%;
    font-variant: small-caps;
    font-family: 'Times New Roman', Times, serif;
}
.rólunk{
    padding-left: 650px;
    text-align: justify;
}
#felhívás{
    color:red;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
    padding: 30px auto;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.árak th{
    width: 1024px;
    padding: 20px;
    border: 3px solid black;
    background-color: gold;
}
.árak table{
    margin: 40px 120px;
    border: 3px solid black;
    border-collapse: collapse;
}
#logo{
    float: left;
    margin-left: 170px;
    border: 2px solid black;
    border-radius: 20px;
}
.űrlap{
    width: 1000px;
    margin: 20px auto;
    background-color: gold;
    margin-left: 450px;
    border: 1px solid black;
    border-radius: 25px;
    text-align: left;
}
.űrlap span{
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    padding: 25px;
}
.űrlap p{
    padding: 15px;
}
.űrlap h1{
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 15px;
}
img{
    border-radius: 20px;
}
.auto{
    padding-right: 750px;
    text-align: justify;  
} 
/* #autók{
    width: 500px;
    height: 500px;  
    float: right;
    margin-right: 100px;
}
#auto1{
    width: 500px;
    height: 400px;  
    float: left;
    margin-left: 100px;  
} */
.bemutatkozas p{
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    color: gold;
    text-shadow: 1px 1px 0px white;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-variant: small-caps;
    line-height: 200%;
    padding-bottom: 29px;
    padding-top: 3px;
    padding-left: 970px;
    padding-right: 8px;
    text-align: justify;  
}
#szimbolum{
    width: 950px;
    float: left;
    margin: 0px;
    border-radius: 0px;
}
#auto{
    width: 950px;
    float: right;
    margin: 0px;
    border-radius: 0px;
    padding-top: 0px;
}
#bemutatkozas{
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    color: gold;
    text-align: justify;
    text-shadow: 1px 1px 0px white;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-variant: small-caps;
    padding-right: 980px;
    padding-left: 8px;
    padding-top: 6px;
    line-height: 180%;
    padding-bottom: 17px;
}
ul{
    background-color: black;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-right: 970px;
    padding-left: 40px;
}
li{
    color: gold;
    text-align: justify;
    text-shadow: 1px 1px 0px white;
    font-size: 22px;
    line-height: 180%;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-variant: small-caps;
}